<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>uch.controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUbigeo</servlet-name>
        <servlet-class>uch.controller.ServletUbigeo</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoListarTodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoPaginar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoVentanaNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoGrabarNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoVentanaModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoGrabarModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarca</servlet-name>
        <url-pattern>/ServletMarcaListarTodosdll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoPaginardll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuto</servlet-name>
        <url-pattern>/ServletAutoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbigeo</servlet-name>
        <url-pattern>/ServletUbigeoListarTodosdll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbigeo</servlet-name>
        <url-pattern>/ServletUbigeoListarDepertamentosdll</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ServletUbigeo</servlet-name>
        <url-pattern>/ServletUbigeoListarProvinciasdll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbigeo</servlet-name>
        <url-pattern>/ServletUbigeoListarDistritosdll</url-pattern>
    </servlet-mapping>    
    <welcome-file-list>         
        <welcome-file>index.html</welcome-file>  
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
